// Custom styles.
//post-sticky-flag
.post-sticky-flag {
	font-size: inherit;
	float: left;
	color: #000;
	cursor: help;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
// 文章内链接文本样式
.post-body p a{
  color: #43aede;
  border-bottom: none;
  border-bottom: 1px solid #43aede;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
