// Custom styles.
//post-sticky-flag
.post-sticky-flag {
	font-size: inherit;
	float: left;
	color: #000;
	cursor: help;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
